.headerAppBar{
    align-items: center;
}

.button-menu{
    padding-top: 2px;
}

.grid-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-drawer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}