.grid-mainleft {
    display: flex;
    justify-content: center;
    margin-left: 25px;
}

.grid-mainright {
    display: flex;
    justify-content: center;
}

.text-defaultsetting {
    font-family: 'NanumSquareAcr';
}

.text-slogan {
    color: #FCCEAD;
    margin-top: 300px;
    font-size: large;
    white-space: pre-line;
}

.text-ProjectSummary {
    color: black;
    margin-top: 10px;
    font-family: 'NanumSquareAceb';
    font-size: xx-large;
    white-space: pre-line;
}

.text-subsummary {
    color: #FCCEAD;
    margin-top: 30px;
    font-size: large;
    white-space: pre-line;
}

.button-gocodi {
    text-align: center;
}

.button-godig {
    cursor: pointer;
    width: 240px;
    background-color: inherit;
    font-size: 20px;
    margin: "0auto";
    border: 0;
    margin-top: 20px;
    font-family: 'NanumSquareAcb';
}