/*1. LandingPage*/
.text-defaultsetting{
    line-height: 30px;
    white-space: pre-line;
    padding-bottom: 20px;
    padding-top:30px;
    font-family: 'NanumSquareAcr';
}

.round-square{
    width:300px;
    height:300px;
    border-radius:30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color:rgb(228, 228, 228);
    margin: 5px;
    margin-bottom: 200px;
    white-space: pre-line;
}

.text-textinbutton {
    white-space: pre-line;
    padding-bottom: 25px;
    font-family: 'NanumSquareAcr';
    font-size: 18px;
}

.img-margin{
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right:20px;
}

.text-hyperlink{
    text-decoration: none;
}

.img-member {
    border-radius: 100%;
    width:100px;
    height:100px;
}

/* Landing page body */
.body-one-margin {
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

.body-two-margin {
    display: inline-block;
    vertical-align: middle;
}