.PRRP .text-defaultsetting {
    font-family: 'NanumSquareAcr';
    text-align: center;
    position: absolute;
    top: 10%;
    right: 34%;
}

.PRRP .titleFixItem-BG {
    width: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.PRRP .button-fixparts {
    margin: 10px;
    padding-bottom: 50px;
}

.PRRP .fixCodiPartButton-BG{
    width:100px;
    height:150px;
    position: relative;
    background-size: cover;
}

.PRRP .fixCodiPartButton-item{
    position: relative;
    top: -120px;
}

.PRRP .fixCodiPartButton-part{
    position:relative;
    top:-40px;
    color:white;
    text-shadow: -0.6px 0 #000, 0 0.6px #000, 0.6px 0 #000, 0 -0.6px #000;
    font-size: 14px;

}
.PRRP .button-recitem {
    margin: 10px;
    padding-bottom: 50px;
}

.PRRP .button-fixitem {
    margin: 10px;
    padding-bottom: 50px;
    /* border-style: dashed;
    border-color: brown; */
    /* border-radius: 20px;
    padding-right: 8px; */
}

.PRRP .button-retry {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.PRRP .button-feedback {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.PRRP .button-goodbad {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    border-color: white;
    background-color: white;
}

.PRRP .button-goodbads {
    display: inline-block;
    vertical-align: middle;
}

.PRRP .box-bestcodibox {
    width: auto;
    height: 200px;
    /* border-color: grey;
    border-style: dashed; */
    vertical-align: center;
}

.PRRP .block-bestorder {
    margin: 30px;
    font-family: 'PyeongChangPeaceB';
}

.PRRP .button-fixcheck {
    border-color: black;
    width: 40px;
}

.PPRP .block-recommenditem {
    margin: auto 0;
}

.button-good {

}
