body {
    background-color: rgb(247, 247, 247);
    overflow: scroll; /* Show scrollbars */
}

footer{
    height: 100;
    position : relative;
    transform: translate(0,100px);
}

a {
    text-decoration: none;
}