body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NanumSquareAcb';
  src: url('./assets/fonts/NanumSquare_acB.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareAceb';
  src: url('./assets/fonts/NanumSquare_acEB.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareAcl';
  src: url('./assets/fonts/NanumSquare_acL.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareAcr';
  src: url('./assets/fonts/NanumSquare_acR.ttf') format('truetype');
}
@font-face{
  font-family: 'PyeongChangPeace-Light';
  src: url('https://storage.googleapis.com/maple_web/font/PyeongChangPeace-Light.ttf') format('truetype');
}
@font-face{
  font-family: 'Maplestory Bold';
  src: url('https://storage.googleapis.com/maple_web/font/Maplestory%20Bold.ttf') format('truetype');
}
@font-face{
  font-family: 'Maplestory Light';
  src: url('https://storage.googleapis.com/maple_web/font/Maplestory%20Light.ttf') format('truetype');
}